html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: 800;
  font-size: calc(1rem + 1vw);
}

h2 {
  font-weight: 700;
  font-size: calc(0.75rem + 1vw);
}

p {
  font-weight: 500;
  font-size: calc(0.4rem + 1vw);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
