.background-home-image {
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%233573b6' fill-opacity='0.1'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.home-container {
  width: 90%;
  display: flex;
}

.home-text {
  position: relative; 
  z-index: 1; 
}

.home-text h1 {
  color: #3573B6;
  max-width: 1024px;
  width: 80%;
  margin: 0 auto;
  padding-left: 1vw;
  padding-top: 1vw;
  text-align: justify;
}

.home-text p {
  color: #3573B6;
  max-width: 1024px;
  width: 80%;
  margin: 0 auto;
  padding-left: 1vw;
  padding-top: 1vw;
  text-align: justify;
  display: flex;
}

.home-logo {
  display: inline-block;
  height: 100%;
  max-width: 40vw;
  vertical-align: middle;
  position: relative; 
  margin: auto;
  text-align: center;
}

.home-logo > img {
  width: 50%;
}

@media only screen and (max-width: 800px) {
  .home-container {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .home-text h1 {
    font-size: 1.3rem;
  }
  
  .home-text p {
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  .home-logo {
    margin: 0;
    margin-top: 10vh;
    min-width: 100%;
  }

  .home-logo > img {
    width: 40%;
  }
}
