.projects-container {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
  padding: 2rem 0;
}

.projects-container > h1 {
  color: #f5f5f5;
  z-index: 99;
}

.projects-slider {
  position: relative;
  display: grid;
  place-items: center;
  max-width: 60%;
  overflow: hidden;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0 0 1vw 0.05vw #fff;
}

.projects-slider-btn-container {
  position: absolute;
  width: 100%;

}

.projects-slider-btn {
  border-radius:50%;
  position: absolute;
  z-index: 2;
  padding: .2rem;
  top: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  background: hsla(210, 50%, 30%, .15);
  color: hsla(210, 50%, 95%, .9);
}

.projects-slider-btn-left {
  left: 0;
  transform: translate(50%, -50%);
}
.projects-slider-btn-left:is(:hover, :focus) {
  animation: 850ms forwards moveLeft cubic-bezier(0.25,-0.50, 0.17, 1.2);
}

@keyframes moveLeft {
  10% {
    left: -3px;
  }
}

.projects-slider-btn-right {
  right: 0;
  transform: translate(-50%, -50%);
}
.projects-slider-btn-right:is(:hover, :focus) {
  animation: 850ms forwards moveRight cubic-bezier(0.25,-0.50, 0.17, 1.2);
}

@keyframes moveRight {
  10% {
    right: -3px;
  }
}

.projects-slide {
  height: 400px;
  max-height: 70vh;
  display: flex;
}

.projects-slide img {
  width: 60%;
  flex: 1 0 100%;
  object-fit: cover;
}
