.services-container {
  max-width: 1024px;
  max-height: 100%;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  z-index: 1;
  align-items: center;
}
  
.service-tiles {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}  

@media (max-width: 700px) {
  .service-tiles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.service-tile {
  display: flex;
  background-color: #f5f5f5;
  flex-direction: column;
  align-items: center;
  width: 50%; 
  max-height: 100%;
  max-width: 100%;
  margin: 1rem;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0 0 1vw 0.05vw #fff;
  border-radius: 10px 10px 0 0;
}

.service-tile img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.service-tile-content {
  text-align: center;
  padding: 1rem;
  color: #3573B6;
}  

.service-tile:hover {
  transform: translateY(-1rem);
  cursor: pointer;
}

.service-tile-content h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.service-tile-content p {
  margin: 0;
  text-align: left;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background-color: #f5f5f5;
  color: #3573B6;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width: 60%;
  z-index: 1000;
}

.modal-tile-content > p {
  margin: 0;
  text-align: left;
}